@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 33.33%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #5c77cb;
    box-shadow: 0 0 25px #00000033;
    background-image: url("../images/pattern-bg.png");
    z-index: 3333;
}

ul li {
    list-style-type: none;
}

h1 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 15px;
}

.container {
    display: flex;
    width: 40%;
    min-width: 350px;
}

.search_bar {
    height: 55px;
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 12px 0 0 12px;
}

.search_bar:focus {
    outline: 1px solid rgb(230, 228, 228);
}

.btn {
    width: 65px;
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: black;
    cursor: pointer;
}

.ip_infos {
    display: flex;
    align-items: center;
    width: 75%;
    min-width: 630px;
    height: 175px;
    position: absolute;
    top: 21.75%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 99999;
    border-radius: 20px;
    box-shadow: 0 0 25px #00000033;
    background-color: #fff;
}

.info {
    display: block;
    height: 100px;
    width: 25%;
    padding: 0 30px;
    border-right: 1px solid rgb(230, 228, 228);
}

.info:last-child {
    border: none;
}

.title_info {
    color: hsl(0, 0%, 59%);
    font-size: 0.85em;
    letter-spacing: 2px;
}

.text_info {
    margin-top: 10px;
    font-size: 1.1em;
    color: hsl(0, 0%, 17%);
}

#map {
    width: 100%;
    height: 66.67%;
    z-index: 0;
}

.err {
    border: 1px solid crimson;
}

.err:focus {
    outline: 0;
}

@media (max-width: 730px) {
    .ip_infos {
        flex-direction: column;
        min-width: 350px;
        height: fit-content;
        padding: 20px;
        top: 18%;
    }

    .info {
        width: 100%;
        height: 50px;
        text-align: center;
        border: none;
        margin-bottom: 15px;
    }
}

@media (max-height: 680px) {
    body {
        min-height: 680px;
    }

    .ip_infos {
        top: 122.4px;
    }
}
